{
    "Configuration": {
        "Area": {
            "bottom": 0,
            "left": 0,
            "right": 10000,
            "top": 8000
        },
        "Count": 100,
        "IsRandomNodeCoords": true,
        "IsRandomRelief": false,
        "IsRandomRoutes": false,
        "Nodes": [
            {
                "Beta": 29.999999999999996,
                "R": 200
            },
            {
                "Beta": 29.999999999999996,
                "R": 200
            },
            {
                "Beta": 29.999999999999996,
                "R": 200
            },
            {
                "Beta": 29.999999999999996,
                "R": 200
            },
            {
                "Beta": 29.999999999999996,
                "R": 200
            }
        ],
        "ReliefFileName": "C:/Users/User7SZ/Documents/Qt_Projects/build-snnoro-Desktop_Qt_6_2_2_MinGW_64_bit-Debug/Reliefs/Relief_06_test_points_2.relief",
        "ReliefInfo": {
            "IsUseReliefRandomSeed": true,
            "ReliefCoeffs": {
                "A_r1": 0.01,
                "A_r2": 0.02
            },
            "ReliefRandomSeed": 100
        },
        "RouteCount": 0,
        "Routes": [
        ],
        "SignalNodeCount": 5,
        "SignalNodeType": "Sphere",
        "TargetCostFunction": "MyFunction"
    }
}
